In [117]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas import DataFrame

In [161]:
data = pd.read_table('06_a.txt', header = None)

In [130]:
data.head()

       0
0  1,679
1  1,694
2  1,632
3  1,644
4  1,782

Сначала надо перевести в тип "массив" и заодно поменять запятые на точки - чтобы питон понимал, что перед ним числа типа float, а не строки

In [162]:
num = data[0].str.replace(',', '.').astype(float)
num

0     1.679
1     1.694
2     1.632
3     1.644
4     1.782
5     1.676
6     1.707
7     1.675
8     1.654
9     1.622
10    1.694
11    1.640
Name: 0, dtype: float64

Среднее арифметическое:

In [163]:
mean = num.mean()
mean

1.674916666666667

Критерия Диксона основан на предложении, что выборка подчиняется нормальному распределению. Сделаем это:

In [164]:
nums = num.values
nums.sort(axis=0)
nums

array([ 1.622,  1.632,  1.64 ,  1.644,  1.654,  1.675,  1.676,  1.679,
        1.694,  1.694,  1.707,  1.782])

Теперь скачаем табличку критических значений критерия Диксона

In [166]:
kriteries = pd.read_table('dikson.txt', header = 'infer', index_col = None)
kriteries = kriteries.astype(float)
for i in kriteries:
    kriteries[i] = kriteries[i].astype(float)

In [167]:
index = kriteries['0'][kriteries['0'] == len(nums)].index[0] 
index

4

In [168]:
kriteries

      0   0.9  0.95  0.98  0.99
0   4.0  0.68  0.76  0.85  0.89
1   6.0  0.48  0.56  0.64  0.70
2   8.0  0.40  0.47  0.54  0.59
3  10.0  0.35  0.41  0.48  0.53
4  12.0  0.32  0.38  0.44  0.48
5  14.0  0.29  0.35  0.41  0.45
6  16.0  0.28  0.33  0.39  0.43
7  18.0  0.26  0.31  0.37  0.41
8  20.0  0.26  0.30  0.36  0.39
9  30.0  0.22  0.26  0.31  0.34

Для того, чтобы узнать, есть ли промахи в выборке, достаточно проверить 1 и последний. Сначала проверим последний с помощью критического критерия: К = (Xn - Xpre) / (Xn - X1). И сравним его с критическим значение: если получившееся число окажется больше, то оно будет выбросом.

In [169]:
Klast = abs((nums[-1] - nums[-2]) / (nums[-1] - nums[0]))
Klast

0.46874999999999994

In [170]:
if Klast > kriteries['0.9'][index]:
    print('При коэффе доверия в 0.9 последнее значение является промахом')
else:
    print('При коэффе доверия в 0.9 последнее значение не является промахом')

При коэффе доверия в 0.9 последнее значение является промахом

In [171]:
Kfirst = abs((nums[0] - nums[1]) / (nums[-1] - nums[0]))
Kfirst

0.062499999999998695

In [172]:
if Kfirst > kriteries['0.9'][index]:
    print('При коэффе доверия в 0.9 первое значение является промахом')
else:
    print('При коэффе доверия в 0.9 первое значение не является промахом')

При коэффе доверия в 0.9 первое значение не является промахом

Удалили:

In [186]:
nums

array([ 1.622,  1.632,  1.64 ,  1.644,  1.654,  1.675,  1.676,  1.679,
        1.694,  1.694,  1.707])